<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Id="*"
      Name="Plotinator 10k"
      Language="1033"
      Version="$(var.PLOTINATOR_VERSION)"
      Manufacturer="Plotinator Labs"
      UpgradeCode="A1C3D9E4-5B27-41F8-9C71-2F91BBAC7E54">

    <Package
        InstallerVersion="500"
        Compressed="yes"
        InstallScope="perMachine" />

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade
        AllowDowngrades="no"
        DowngradeErrorMessage="A newer version of Plotinator 10k is already installed." />

    <Icon Id="AppIcon" SourceFile="plotinator.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Plotinator 10k" />
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="Plotinator 10k" Level="1">
      <ComponentGroupRef Id="PlotinatorFiles" />
    </Feature>
  </Product>
</Wix>
